upstream web01 {
    ip_hash;
    server app01:80;
    server app02:80;
}

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/app;

    index index.html index.htm;

    server_name _;

    client_max_body_size 20M;

    location / {
        proxy_pass http://web01/;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
    }

    location /css/ {
        root /var/www/app/wwwroot;
    }

    location /js/ {
        root /var/www/app/wwwroot;
    }

    location /lib/ {
        root /var/www/app/wwwroot;
    }

    location /images/ {
        root /var/www/app/wwwroot;
    }

    location /WebApp.styles.css {
        root /var/www/app/wwwroot;
    }
}

